body{
    background-color: #464749;
    color:white;
}

.container-category{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 30px;
}

.categoryCard{
    background-color: white;
    box-shadow: 2px 2px 20px 6px rgb(31, 30, 30);
    border-radius: 4px;
    margin: 40px auto;
    padding: 20px;
    width: 300px;
    height: 200px;
    color: white;
    font-size: 30px;
    font-weight:bold;
    text-align: center;
    vertical-align: center;
    align-items: center;
    vertical-align: middle;
    transition-duration: 500ms;
}

.categoryCard:hover{
    transform: scale(1.2);
    transition-duration: 500ms;
}

.fruit{
    background-image: url("../../public/fruits.jpg");
}
.vegetable{
    background-image: url("../../public/veggies.jpg");
}
.greens{
    background-image: url("../../public/greens.jpg");
}
.groceries{
    background-image: url("../../public/groceries.jpg");
}
.accesseroies{
    background-image: url("../../public/accs.jpg");
}
.homessentials{
    background-image: url("../../public/he.jpg");
}