.map-container {
  width: 40%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% auto;
  margin-top: 0;
  border-radius: 10px;
  box-shadow: 0 0 100px 0 rgba(4, 4, 4, 0.4);
  overflow: hidden;
  padding: 0;
}

.map-container:hover {
  box-shadow: 0 0 100px 0 rgba(4, 4, 4, 0.9);
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

h2 {
  margin: 2% auto 3% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul li div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

li img {
  width: 350px;
  height: 150px;
  padding-top: 20px;
}

img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

/* a,
button {
  display: none;
}
 */
.page-logo {
  display: flex;
}

.footer{
  background-color: #1b1e24;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-card{
  color: rgb(82, 196, 245);
  margin-left: 20px;
  font-size: 27px;
  margin-left: 200px;
}

h4{
  margin-bottom: 0px;
  margin-left: 10px
}

.footer-cardp{
  color: white;
  font-size: 14px;
  text-align: left;
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 40px;
}

.li-space{
  margin:15px;
  margin-left: 50px;
  font-size:16px;
}