body{
    background-color: #464749;
    color:white;
}

.formtile{
    background-color: white;
    box-shadow: 2px 2px 20px 6px rgb(31, 30, 30);
    border-radius: 4px;
    margin: 40px;
    padding: 20px;
    color:black;
    flex:1;
}

.formtile > h3{
    margin-left:0px;
}

.formlabel{
    margin-left:0px;
}


